plantOSv2.json
[
    {"id":"0b82c1f7e0b0f0cc","type":"tab","label":"PlantOS","disabled":false,"info":""},
    {
        "id":"9b86b73b54963115","type":"serial in","z":"0b82c1f7e0b0f0cc",
        "name":"ESP32 Serial","serial":"serial_config",
        "x":120,"y":120,"wires":[["7f5d40500a651fd7","836a2c4b7165a85f"]]
    },
    {
        "id":"836a2c4b7165a85f","type":"debug","z":"0b82c1f7e0b0f0cc",
        "name":"Raw Serial","active":true,"tosidebar":true,"complete":"payload",
        "x":120,"y":200,"wires":[]
    },
    {
        "id":"7f5d40500a651fd7","type":"function","z":"0b82c1f7e0b0f0cc",
        "name":"Parse ESP32",
        "func":"var line = msg.payload.replace(/\\r/g,'').trim();\nif (!line || line.length < 3) return null;\nvar wl  = line.match(/Water Level:\\s*(\\d+)/i);\nvar s1  = line.match(/Soil:\\s*(\\d+)/i);\nvar dry = /\\[DRY\\]/i.test(line);\nvar low = /Reservoir:\\s*LOW/i.test(line);\nvar pump = /Pump:\\s*ON/i.test(line);\nvar done = /Pump:\\s*OFF/i.test(line);\nmsg.payload = {\n  raw:          line,\n  waterLevel:   wl ? parseInt(wl[1]) : null,\n  soil1:        s1 ? parseInt(s1[1]) : null,\n  soil1Dry:     dry,\n  reservoirLow: low,\n  watering:     pump,\n  wateringDone: done,\n  timestamp:    new Date().toLocaleTimeString()\n};\nreturn msg;",
        "outputs":1,"x":320,"y":120,"wires":[["06f2441bc9a57bf1","bridge_template"]]
    },
    {
        "id":"bridge_template","type":"ui_template","z":"0b82c1f7e0b0f0cc",
        "group":"ui_group_plantos","name":"Bridge","order":2,
        "width":"0","height":"0",
        "format":"<script>\n(function(){\n  if(!scope) return;\n  scope.$watch('msg',function(m){\n    if(!m||!m.payload) return;\n    var p=m.payload;\n    if(typeof p==='object' && window._plantParse){\n      window._plantParse(\n        'Water Level: '+(p.waterLevel||0)+\n        ' | Soil: '+(p.soil1||0)+\n        (p.soil1Dry?' [DRY]':'')+\n        ' | Reservoir: '+(p.reservoirLow?'LOW':'OK')+\n        ' | Pump: '+(p.watering?'ON':'OFF')\n      );\n    }\n  });\n})();\n</script>",
        "storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,
        "templateScope":"local","x":540,"y":200,"wires":[[]]
    },
    {
        "id":"06f2441bc9a57bf1","type":"ui_template","z":"0b82c1f7e0b0f0cc",
        "group":"ui_group_plantos","name":"PlantOS Dashboard","order":1,
        "width":"24","height":"22",
        "format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\"/>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n<title>Smart Plant Watering System</title>\n<link href=\"https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&family=Baloo+2:wght@700;800&display=swap\" rel=\"stylesheet\"/>\n<style>\n  :root{--white:#ffffff;--green1:#43a047;--green2:#66bb6a;--green3:#a5d6a7;--teal:#26c6da;--blue:#42a5f5;--amber:#ffb300;--red:#ef5350;--purple:#ab47bc;--shadow:0 8px 32px rgba(67,160,71,.13);--r:22px;--font:'Nunito',sans-serif;--fhead:'Baloo 2',sans-serif}\n  *,*::before,*::after{box-sizing:border-box;margin:0;padding:0}\n  body{background:linear-gradient(150deg,#e0f7fa 0%,#e8f5e9 45%,#f3e5f5 100%);font-family:var(--font);min-height:100vh;color:#263238}\n  .bubbles{position:fixed;inset:0;pointer-events:none;overflow:hidden;z-index:0}\n  .b{position:absolute;border-radius:50%;animation:floatUp linear infinite}\n  .b1{width:55px;height:55px;left:4%;animation-duration:17s;animation-delay:0s;background:rgba(102,187,106,.14)}\n  .b2{width:38px;height:38px;left:14%;animation-duration:13s;animation-delay:2s;background:rgba(38,198,218,.13)}\n  .b3{width:75px;height:75px;left:28%;animation-duration:21s;animation-delay:4s;background:rgba(255,179,0,.1)}\n  .b4{width:28px;height:28px;left:53%;animation-duration:11s;animation-delay:1s;background:rgba(171,71,188,.11)}\n  .b5{width:65px;height:65px;left:68%;animation-duration:19s;animation-delay:5s;background:rgba(66,165,245,.12)}\n  .b6{width:45px;height:45px;left:83%;animation-duration:15s;animation-delay:3s;background:rgba(102,187,106,.13)}\n  @keyframes floatUp{0%{bottom:-80px;opacity:0;transform:translateX(0)}10%{opacity:.8}90%{opacity:.5}100%{bottom:110vh;opacity:0;transform:translateX(20px)}}\n  .wrap{position:relative;z-index:1;max-width:1120px;margin:0 auto;padding:24px 18px 56px}\n  header{display:flex;align-items:center;gap:16px;background:var(--white);border-radius:26px;padding:18px 26px;box-shadow:var(--shadow);margin-bottom:20px;animation:popIn .5s cubic-bezier(.34,1.56,.64,1) both}\n  .hdr-icon{width:68px;height:68px;flex-shrink:0;background:linear-gradient(135deg,#66bb6a,#2e7d32);border-radius:18px;box-shadow:0 4px 18px rgba(67,160,71,.35);display:flex;align-items:center;justify-content:center}\n  .hdr-text h1{font-family:var(--fhead);font-size:1.85rem;font-weight:800;color:#1b5e20;line-height:1.1}\n  .hdr-text p{font-size:.82rem;color:#558b2f;font-weight:700;margin-top:3px}\n  .hdr-right{margin-left:auto;display:flex;flex-direction:column;align-items:flex-end;gap:6px}\n  .live-pill{display:flex;align-items:center;gap:7px;background:#e8f5e9;border:2px solid #a5d6a7;border-radius:99px;padding:6px 16px;font-size:.78rem;font-weight:800;color:#2e7d32}\n  .dot{width:9px;height:9px;border-radius:50%;background:#43a047;animation:pg 1.5s infinite}\n  .dot.w{background:var(--amber);animation:pa 1s infinite}\n  .dot.r{background:var(--red);animation:pr .7s infinite}\n  @keyframes pg{0%,100%{box-shadow:0 0 0 0 rgba(67,160,71,.5)}50%{box-shadow:0 0 0 7px rgba(67,160,71,0)}}\n  @keyframes pa{0%,100%{box-shadow:0 0 0 0 rgba(255,179,0,.5)}50%{box-shadow:0 0 0 7px rgba(255,179,0,0)}}\n  @keyframes pr{0%,100%{box-shadow:0 0 0 0 rgba(239,83,80,.6)}50%{box-shadow:0 0 0 7px rgba(239,83,80,0)}}\n  .upd-txt{font-size:.72rem;color:#90a4ae;font-weight:700}\n  .w-banner{display:none;align-items:center;gap:12px;background:linear-gradient(90deg,#e8f5e9,#f1f8e9);border:2.5px solid #81c784;border-radius:16px;padding:13px 20px;margin-bottom:18px;box-shadow:0 4px 18px rgba(67,160,71,.14)}\n  .w-banner.on{display:flex}\n  .w-banner strong{font-weight:800;color:#2e7d32;font-size:.88rem}\n  .w-timer{margin-left:auto;background:#43a047;color:#fff;border-radius:99px;padding:4px 14px;font-size:.78rem;font-weight:800}\n  .grid{display:grid;grid-template-columns:270px 1fr 1fr;gap:16px}\n  .card{background:var(--white);border-radius:var(--r);padding:20px;box-shadow:var(--shadow);animation:popIn .4s cubic-bezier(.34,1.56,.64,1) both;position:relative;overflow:hidden}\n  .card.hero{grid-row:span 2;display:flex;flex-direction:column;align-items:center;justify-content:center;text-align:center;background:linear-gradient(160deg,#f1f8e9,#e8f5e9)}\n  .card.full{grid-column:span 3}\n  .ch{display:flex;align-items:center;gap:10px;margin-bottom:14px}\n  .ci{width:36px;height:36px;border-radius:11px;display:flex;align-items:center;justify-content:center;font-size:1.1rem;flex-shrink:0}\n  .ct{font-family:var(--fhead);font-size:.95rem;font-weight:700;color:#37474f}\n  .plant-wrap{width:175px;height:195px;margin-bottom:14px}\n  .leaf{transform-origin:50% 100%}\n  .ll{animation:sl 3.5s ease-in-out infinite}.lr{animation:sr 3.5s ease-in-out infinite .4s}\n  .ltl{animation:sl 4.5s ease-in-out infinite .8s}.ltr{animation:sr 4.5s ease-in-out infinite 1.2s}\n  @keyframes sl{0%,100%{transform:rotate(0)}50%{transform:rotate(-7deg)}}\n  @keyframes sr{0%,100%{transform:rotate(0)}50%{transform:rotate(7deg)}}\n  .wdrop{animation:drip 2.5s ease-in infinite;opacity:0}\n  .wdrop:nth-child(2){animation-delay:.8s}.wdrop:nth-child(3){animation-delay:1.6s}\n  @keyframes drip{0%{transform:translateY(0);opacity:.9}70%{opacity:.4}100%{transform:translateY(22px);opacity:0}}\n  .sun-g{animation:rspin 22s linear infinite;transform-origin:87px 22px}\n  @keyframes rspin{to{transform:rotate(360deg)}}\n  .plant-name{font-family:var(--fhead);font-size:1.45rem;font-weight:800;color:#1b5e20}\n  .mood{display:inline-flex;align-items:center;gap:7px;margin-top:10px;padding:7px 18px;border-radius:99px;font-weight:800;font-size:.83rem;transition:all .4s}\n  .mood.happy{background:#e8f5e9;color:#2e7d32;border:2px solid #a5d6a7}\n  .mood.thirsty{background:#fff8e1;color:#e65100;border:2px solid #ffe082}\n  .mood.critical{background:#ffebee;color:#c62828;border:2px solid #ef9a9a}\n  .plant-tip{margin-top:13px;background:#f9fbe7;border-radius:13px;padding:10px 14px;font-size:.76rem;color:#558b2f;font-weight:700;line-height:1.45;border:1.5px solid #dcedc8;max-width:225px;text-align:center}\n  .gauge-wrap{display:flex;flex-direction:column;align-items:center;gap:8px}\n  .gsvg{overflow:visible}\n  .gt{fill:none;stroke:#f1f3f5;stroke-width:16;stroke-linecap:round}\n  .gf{fill:none;stroke-width:16;stroke-linecap:round;transition:stroke-dashoffset .9s cubic-bezier(.4,0,.2,1),stroke .4s}\n  .gv{font-family:var(--fhead);font-size:2.1rem;font-weight:800;fill:#263238;text-anchor:middle;dominant-baseline:middle}\n  .gl{font-size:.62rem;fill:#90a4ae;text-anchor:middle;font-family:var(--font);font-weight:700;letter-spacing:.08em;text-transform:uppercase}\n  .sbadge{display:inline-flex;align-items:center;gap:6px;padding:6px 16px;border-radius:99px;font-weight:800;font-size:.78rem;transition:all .3s}\n  .sbadge.ok{background:#e8f5e9;color:#2e7d32}.sbadge.warn{background:#fff8e1;color:#e65100}.sbadge.bad{background:#ffebee;color:#c62828}\n  .info2{display:grid;grid-template-columns:1fr 1fr;gap:10px;margin-top:12px}\n  .itile{background:#f8fafb;border-radius:14px;padding:12px 14px;border:1.5px solid #eceff1}\n  .itile-l{font-size:.65rem;font-weight:700;text-transform:uppercase;letter-spacing:.1em;color:#90a4ae;margin-bottom:3px}\n  .itile-v{font-family:var(--fhead);font-size:1.45rem;font-weight:800;color:#263238;line-height:1}\n  .chart-area{width:100%;height:140px;position:relative;margin-top:8px}\n  canvas{width:100%!important;height:100%!important;display:block}\n  .sstrip{display:grid;grid-template-columns:repeat(4,1fr);gap:14px;margin-top:16px}\n  .scard{background:var(--white);border-radius:20px;padding:16px 15px;box-shadow:var(--shadow);display:flex;align-items:center;gap:12px}\n  .sico{width:44px;height:44px;border-radius:13px;display:flex;align-items:center;justify-content:center;font-size:1.35rem;flex-shrink:0}\n  .sl{font-size:.66rem;font-weight:700;color:#90a4ae;text-transform:uppercase;letter-spacing:.08em}\n  .sv{font-family:var(--fhead);font-size:1.35rem;font-weight:800;color:#263238;line-height:1.1;margin-top:2px}\n  .facts{display:grid;grid-template-columns:repeat(3,1fr);gap:14px;margin-top:16px}\n  .fact{background:var(--white);border-radius:20px;padding:18px;box-shadow:var(--shadow)}\n  .femi{font-size:2rem;margin-bottom:8px}\n  .ftit{font-family:var(--fhead);font-size:.92rem;font-weight:800;color:#263238;margin-bottom:6px}\n  .fbody{font-size:.76rem;color:#607d8b;line-height:1.5;font-weight:600}\n  .log-list{list-style:none;display:flex;flex-direction:column;gap:7px;max-height:145px;overflow-y:auto}\n  .log-list::-webkit-scrollbar{width:4px}.log-list::-webkit-scrollbar-thumb{background:#cfd8dc;border-radius:99px}\n  .li{display:flex;align-items:center;gap:9px;background:#f8fafb;border-radius:11px;padding:8px 11px;font-size:.74rem;font-weight:700;color:#546e7a;border-left:3px solid #cfd8dc}\n  .li.water{border-color:#66bb6a;color:#2e7d32;background:#f1f8e9}\n  .li.alert{border-color:#ffb300;color:#e65100;background:#fff8e1}\n  .lt{font-size:.63rem;color:#b0bec5;min-width:55px;font-weight:700}\n  @keyframes popIn{from{opacity:0;transform:scale(.9) translateY(10px)}to{opacity:1;transform:scale(1) translateY(0)}}\n  footer{margin-top:28px;text-align:center;font-size:.73rem;font-weight:700;color:#90a4ae}\n  @media(max-width:860px){.grid{grid-template-columns:1fr 1fr}.card.hero{grid-column:span 2;grid-row:span 1}.card.full{grid-column:span 2}.sstrip{grid-template-columns:1fr 1fr}.facts{grid-template-columns:1fr 1fr}}\n</style>\n</head>\n<body>\n<div class=\"bubbles\"><div class=\"b b1\"></div><div class=\"b b2\"></div><div class=\"b b3\"></div><div class=\"b b4\"></div><div class=\"b b5\"></div><div class=\"b b6\"></div></div>\n<div class=\"wrap\">\n  <header>\n    <div class=\"hdr-icon\"><svg width=\"38\" height=\"38\" viewBox=\"0 0 38 38\" fill=\"none\"><path d=\"M19 33 Q9 23 11 11 Q17 13 19 33Z\" fill=\"#fff\" opacity=\".9\"/><path d=\"M19 33 Q29 23 27 11 Q21 13 19 33Z\" fill=\"#a5d6a7\"/><line x1=\"19\" y1=\"35\" x2=\"19\" y2=\"13\" stroke=\"#fff\" stroke-width=\"2\" stroke-linecap=\"round\"/></svg></div>\n    <div class=\"hdr-text\"><h1>Smart Plant Watering System</h1><p>Grade 8 Science Project — IoT &amp; Automation with ESP32</p></div>\n    <div class=\"hdr-right\"><div class=\"live-pill\"><div class=\"dot\" id=\"hd\"></div><span id=\"hs\">Waiting for data...</span></div><div class=\"upd-txt\" id=\"upd\">Last update: —</div></div>\n  </header>\n  <div class=\"w-banner\" id=\"wb\"><svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\"><path d=\"M12 2C6 10 4 14 4 17a8 8 0 0016 0c0-3-2-7-8-15z\" fill=\"#43a047\"/></svg><strong>Pump is ON — Watering the plant right now!</strong><div class=\"w-timer\" id=\"wt\">0s</div></div>\n  <div class=\"grid\">\n    <div class=\"card hero\">\n      <div class=\"plant-wrap\"><svg viewBox=\"0 0 175 195\" width=\"175\" height=\"195\"><g class=\"sun-g\"><circle cx=\"87\" cy=\"22\" r=\"13\" fill=\"#ffd54f\" opacity=\".9\"/><g stroke=\"#ffd54f\" stroke-width=\"2.5\" stroke-linecap=\"round\" opacity=\".55\"><line x1=\"87\" y1=\"3\" x2=\"87\" y2=\"8\"/><line x1=\"87\" y1=\"36\" x2=\"87\" y2=\"41\"/><line x1=\"68\" y1=\"22\" x2=\"63\" y2=\"22\"/><line x1=\"106\" y1=\"22\" x2=\"111\" y2=\"22\"/><line x1=\"74\" y1=\"9\" x2=\"70\" y2=\"5\"/><line x1=\"100\" y1=\"35\" x2=\"104\" y2=\"39\"/><line x1=\"100\" y1=\"9\" x2=\"104\" y2=\"5\"/><line x1=\"74\" y1=\"35\" x2=\"70\" y2=\"39\"/></g></g><path d=\"M50 150 L58 173 H117 L125 150Z\" fill=\"#8d6e63\"/><rect x=\"46\" y=\"142\" width=\"83\" height=\"11\" rx=\"5.5\" fill=\"#a1887f\"/><ellipse cx=\"87\" cy=\"144\" rx=\"37\" ry=\"6\" fill=\"#5d4037\"/><ellipse cx=\"87\" cy=\"142\" rx=\"37\" ry=\"6\" fill=\"#6d4c41\"/><path d=\"M87 142 Q85 118 87 88\" fill=\"none\" stroke=\"#4caf50\" stroke-width=\"3\" stroke-linecap=\"round\"/><path class=\"leaf ll\" d=\"M85 124 Q57 113 59 92 Q73 96 85 124Z\" fill=\"#388e3c\"/><path class=\"leaf lr\" d=\"M89 122 Q117 111 115 90 Q101 94 89 122Z\" fill=\"#43a047\"/><path class=\"leaf ltl\" d=\"M84 106 Q61 93 64 74 Q77 78 84 106Z\" fill=\"#4caf50\"/><path class=\"leaf ltr\" d=\"M90 104 Q113 91 110 72 Q97 76 90 104Z\" fill=\"#66bb6a\"/><path class=\"leaf ll\" d=\"M85 90 Q67 77 71 60 Q81 63 85 90Z\" fill=\"#81c784\"/><path class=\"leaf lr\" d=\"M89 88 Q107 75 103 58 Q93 61 89 88Z\" fill=\"#66bb6a\"/><ellipse class=\"wdrop\" cx=\"62\" cy=\"130\" rx=\"3.5\" ry=\"5\" fill=\"#42a5f5\"/><ellipse class=\"wdrop\" cx=\"112\" cy=\"128\" rx=\"3\" ry=\"4.5\" fill=\"#64b5f6\"/><ellipse class=\"wdrop\" cx=\"85\" cy=\"145\" rx=\"2.5\" ry=\"4\" fill=\"#42a5f5\"/></svg></div>\n      <div class=\"plant-name\">My Plant 🌱</div>\n      <div class=\"mood happy\" id=\"mood\"><span id=\"me\">😊</span><span id=\"mt\">Happy &amp; Healthy</span></div>\n      <div class=\"plant-tip\" id=\"tip\">Waiting for sensor data...</div>\n    </div>\n    <div class=\"card\"><div class=\"ch\"><div class=\"ci\" style=\"background:#e8f5e9\">🌱</div><div class=\"ct\">Soil Moisture</div></div><div class=\"gauge-wrap\"><svg class=\"gsvg\" width=\"160\" height=\"108\" viewBox=\"0 0 160 108\"><path class=\"gt\" d=\"M18,100 A62,62 0 0,1 142,100\"/><path class=\"gf\" id=\"sa\" d=\"M18,100 A62,62 0 0,1 142,100\" stroke=\"#66bb6a\" stroke-dasharray=\"195\" stroke-dashoffset=\"195\"/><text class=\"gv\" id=\"sn\" x=\"80\" y=\"80\">—</text><text class=\"gl\" x=\"80\" y=\"100\">out of 4095</text></svg><div class=\"sbadge ok\" id=\"sb\">Waiting...</div></div><div class=\"info2\"><div class=\"itile\"><div class=\"itile-l\">Raw Value</div><div class=\"itile-v\" id=\"sr\">—</div></div><div class=\"itile\"><div class=\"itile-l\">Percent</div><div class=\"itile-v\" id=\"sp\">—</div></div></div></div>\n    <div class=\"card\"><div class=\"ch\"><div class=\"ci\" style=\"background:#e3f2fd\">💧</div><div class=\"ct\">Water Reservoir</div></div><div class=\"gauge-wrap\"><svg class=\"gsvg\" width=\"160\" height=\"108\" viewBox=\"0 0 160 108\"><path class=\"gt\" d=\"M18,100 A62,62 0 0,1 142,100\"/><path class=\"gf\" id=\"wa\" d=\"M18,100 A62,62 0 0,1 142,100\" stroke=\"#42a5f5\" stroke-dasharray=\"195\" stroke-dashoffset=\"195\"/><text class=\"gv\" id=\"wn\" x=\"80\" y=\"80\">—</text><text class=\"gl\" x=\"80\" y=\"100\">out of 4095</text></svg><div class=\"sbadge ok\" id=\"wb2\">Waiting...</div></div><div class=\"info2\"><div class=\"itile\"><div class=\"itile-l\">Raw Value</div><div class=\"itile-v\" id=\"wr\">—</div></div><div class=\"itile\"><div class=\"itile-l\">Status</div><div class=\"itile-v\" id=\"wst\" style=\"color:#42a5f5\">—</div></div></div></div>\n    <div class=\"card full\"><div class=\"ch\"><div class=\"ci\" style=\"background:#f3e5f5\">📈</div><div class=\"ct\">Soil Moisture — Live Graph</div></div><div class=\"chart-area\"><canvas id=\"ch\"></canvas></div></div>\n  </div>\n  <div class=\"sstrip\">\n    <div class=\"scard\"><div class=\"sico\" style=\"background:#e8f5e9\">🌿</div><div><div class=\"sl\">Soil Status</div><div class=\"sv\" id=\"ss\" style=\"color:#43a047\">—</div></div></div>\n    <div class=\"scard\"><div class=\"sico\" style=\"background:#e3f2fd\">🚰</div><div><div class=\"sl\">Pump</div><div class=\"sv\" id=\"sp2\" style=\"color:#90a4ae\">—</div></div></div>\n    <div class=\"scard\"><div class=\"sico\" style=\"background:#fff8e1\">💦</div><div><div class=\"sl\">Reservoir</div><div class=\"sv\" id=\"sr2\" style=\"color:#42a5f5\">—</div></div></div>\n    <div class=\"scard\"><div class=\"sico\" style=\"background:#fce4ec\">📋</div><div><div class=\"sl\">Total Waterings</div><div class=\"sv\" id=\"sc\" style=\"color:#ab47bc\">0</div></div></div>\n  </div>\n  <div class=\"facts\">\n    <div class=\"fact\"><div class=\"femi\">🌱</div><div class=\"ftit\">How the Soil Sensor Works</div><div class=\"fbody\">The soil moisture sensor passes a tiny electric current through the soil. Wet soil conducts electricity better than dry soil — so a higher reading means drier soil. The ESP32 reads 0–4095 using its built-in ADC.</div></div>\n    <div class=\"fact\"><div class=\"femi\">💧</div><div class=\"ftit\">Why Automatic Watering?</div><div class=\"fbody\">Plants need consistent moisture to grow healthy. Too much causes root rot, too little causes wilting. This system waters only when needed — saving water and keeping the plant in its ideal zone, just like real IoT farms!</div></div>\n    <div class=\"fact\"><div class=\"femi\">🔌</div><div class=\"ftit\">What is IoT?</div><div class=\"fbody\">IoT stands for Internet of Things — everyday objects connected to share data. This project uses an ESP32 with Wi-Fi to send sensor readings to Node-RED, making it a real working IoT device!</div></div>\n  </div>\n  <div class=\"card full\" style=\"margin-top:16px\"><div class=\"ch\"><div class=\"ci\" style=\"background:#fff3e0\">📋</div><div class=\"ct\">System Event Log</div></div><ul class=\"log-list\" id=\"el\"></ul></div>\n  <footer>Smart Plant Watering System &nbsp;·&nbsp; Grade 8 Science Project &nbsp;·&nbsp; ESP32 + Node-RED &nbsp;·&nbsp; <span id=\"ft\">—</span></footer>\n</div>\n<script>\nconst S={soil:0,water:0,dry:false,low:false,pump:false,pStart:0,hist:[],count:0,upd:'—'};\nconst MX=60;\nfunction arc(id,val,mx,isWater){const p=document.getElementById(id);if(!p)return;const tot=195,pct=Math.min(Math.max(val/mx,0),1);p.style.strokeDashoffset=tot-pct*tot;if(isWater)p.style.stroke=pct<.15?'#ef5350':pct<.3?'#ffb300':'#42a5f5';else{const d=val/mx;p.style.stroke=d>.65?'#ef5350':d>.45?'#ffb300':'#66bb6a';}}\nfunction badge(id,lvl,lbs){const e=document.getElementById(id);if(!e)return;e.className='sbadge '+['ok','warn','bad'][lvl];e.textContent=lbs[lvl];}\nfunction set(id,v){const e=document.getElementById(id);if(e)e.textContent=v;}\nconst cnv=document.getElementById('ch'),cx=cnv.getContext('2d');\nfunction drawChart(){const dpr=window.devicePixelRatio||1,W=cnv.offsetWidth,H=cnv.offsetHeight;cnv.width=W*dpr;cnv.height=H*dpr;cx.scale(dpr,dpr);cx.clearRect(0,0,W,H);const d=S.hist;[0,.25,.5,.75,1].forEach(f=>{const y=H-10-f*(H-22);cx.strokeStyle='rgba(0,0,0,.06)';cx.lineWidth=1;cx.beginPath();cx.moveTo(38,y);cx.lineTo(W-6,y);cx.stroke();cx.fillStyle='#b0bec5';cx.font='bold 9px Nunito,sans-serif';cx.textAlign='right';cx.fillText(Math.round(f*4095),34,y+3);});if(d.length<2){cx.fillStyle='#b0bec5';cx.font='bold 13px Nunito,sans-serif';cx.textAlign='center';cx.fillText('Waiting for sensor data…',W/2,H/2);return;}const px=i=>38+(i/(MX-1))*(W-44);const py=v=>H-10-(v/4095)*(H-22);cx.strokeStyle='rgba(255,152,0,.38)';cx.lineWidth=1.5;cx.setLineDash([6,5]);const ty=py(2500);cx.beginPath();cx.moveTo(38,ty);cx.lineTo(W-6,ty);cx.stroke();cx.setLineDash([]);cx.fillStyle='rgba(255,152,0,.7)';cx.font='bold 9px Nunito,sans-serif';cx.textAlign='right';cx.fillText('Dry threshold',W-8,ty-4);const g=cx.createLinearGradient(0,0,0,H);g.addColorStop(0,'rgba(102,187,106,.3)');g.addColorStop(1,'rgba(102,187,106,.01)');cx.fillStyle=g;cx.beginPath();cx.moveTo(px(0),H-10);d.forEach((v,i)=>cx.lineTo(px(i),py(v)));cx.lineTo(px(d.length-1),H-10);cx.closePath();cx.fill();cx.strokeStyle='#43a047';cx.lineWidth=2.5;cx.lineJoin='round';cx.lineCap='round';cx.beginPath();d.forEach((v,i)=>i?cx.lineTo(px(i),py(v)):cx.moveTo(px(i),py(v)));cx.stroke();const lv=d[d.length-1];cx.fillStyle='#fff';cx.beginPath();cx.arc(px(d.length-1),py(lv),6,0,Math.PI*2);cx.fill();cx.fillStyle='#43a047';cx.beginPath();cx.arc(px(d.length-1),py(lv),4,0,Math.PI*2);cx.fill();}\nfunction log(txt,type){const ul=document.getElementById('el'),li=document.createElement('li');li.className='li '+(type||'');li.innerHTML='<span class=\"lt\">'+new Date().toLocaleTimeString()+'</span><span>'+txt+'</span>';ul.prepend(li);while(ul.children.length>20)ul.removeChild(ul.lastChild);}\nfunction render(){arc('sa',S.soil,4095,false);arc('wa',S.water,4095,true);set('sn',S.soil);set('wn',S.water);set('sr',S.soil);set('wr',S.water);set('sp',Math.round(S.soil/4095*100)+'%');const wstE=document.getElementById('wst');wstE.textContent=S.low?'LOW!':'Full';wstE.style.color=S.low?'#ef5350':'#42a5f5';badge('sb',S.dry?2:S.soil>2000?1:0,['Moist','Getting Dry','DRY!']);badge('wb2',S.low?2:S.water<1000?1:0,['Full','Getting Low','Refill!']);const ssE=document.getElementById('ss');ssE.textContent=S.dry?'Dry!':S.soil>2000?'Getting Dry':'Moist';ssE.style.color=S.dry?'#ef5350':S.soil>2000?'#ffb300':'#43a047';const sp2E=document.getElementById('sp2');sp2E.textContent=S.pump?'RUNNING':'Idle';sp2E.style.color=S.pump?'#43a047':'#90a4ae';const sr2E=document.getElementById('sr2');sr2E.textContent=S.low?'LOW!':'Full';sr2E.style.color=S.low?'#ef5350':'#42a5f5';set('sc',S.count);const hd=document.getElementById('hd'),hs=document.getElementById('hs');if(S.low){hd.className='dot r';hs.textContent='Refill Water!';}else if(S.dry){hd.className='dot w';hs.textContent='Soil is Dry';}else{hd.className='dot';hs.textContent='System OK';}const mc=document.getElementById('mood'),me=document.getElementById('me'),mt=document.getElementById('mt'),tip=document.getElementById('tip');if(S.low){mc.className='mood critical';me.textContent='😰';mt.textContent='Needs Water Now!';tip.textContent='The water reservoir is empty! Please refill.';}else if(S.dry){mc.className='mood thirsty';me.textContent='😟';mt.textContent='Thirsty!';tip.textContent='Soil is too dry! The pump will start automatically soon.';}else if(S.pump){mc.className='mood happy';me.textContent='💦';mt.textContent='Getting Watered!';tip.textContent='The pump is running right now!';}else{mc.className='mood happy';me.textContent='😊';mt.textContent='Happy & Healthy';tip.textContent='All sensors normal. Your plant is doing great!';}document.getElementById('wb').classList.toggle('on',S.pump);set('upd','Last update: '+S.upd);set('ft',S.upd);drawChart();}\nfunction parse(line){if(!line||line.length<3)return;const wl=line.match(/Water Level:\\s*(\\d+)/i);const s1=line.match(/Soil:\\s*(\\d+)/i);const dry=/\\[DRY\\]/i.test(line);const low=/Reservoir:\\s*LOW/i.test(line);const pump=/Pump:\\s*ON/i.test(line);const prev={...S};if(wl)S.water=parseInt(wl[1]);if(s1)S.soil=parseInt(s1[1]);S.dry=dry;S.low=low;S.upd=new Date().toLocaleTimeString();if(pump&&!prev.pump){S.pump=true;S.pStart=Date.now();S.count++;log('Pump started — watering the plant','water');}if(/Pump:\\s*OFF/i.test(line)&&prev.pump){S.pump=false;log('Watering complete — pump stopped','water');}if(low&&!prev.low)log('Reservoir is LOW — please refill!','alert');if(dry&&!prev.dry)log('Soil is dry — watering will start soon','alert');if(!dry&&prev.dry)log('Soil moisture restored to normal','');if(s1){S.hist.push(S.soil);if(S.hist.length>MX)S.hist.shift();}render();}\nsetInterval(()=>{if(S.pump){const s=Math.floor((Date.now()-S.pStart)/1000);set('wt',s+'s');}set('ft',new Date().toLocaleTimeString());},500);\nwindow._plantParse=parse;\ntry{scope.$watch('msg',function(m){if(!m||!m.payload)return;const p=m.payload;if(typeof p==='string'){parse(p);}else if(typeof p==='object'){if(p.waterLevel!==undefined)S.water=p.waterLevel;if(p.soil1!==undefined)S.soil=p.soil1;if(p.soil1Dry!==undefined)S.dry=p.soil1Dry;if(p.reservoirLow!==undefined)S.low=p.reservoirLow;if(p.watering!==undefined)S.pump=p.watering;S.upd=new Date().toLocaleTimeString();S.hist.push(S.soil);if(S.hist.length>MX)S.hist.shift();render();}});}catch(e){console.log('scope watch:',e);}\nlog('System started — waiting for ESP32 data','');\n</script>\n</body>\n</html>",
        "storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,
        "templateScope":"local","x":540,"y":120,"wires":[[]]
    },
    {
        "id":"serial_config","type":"serial-port","name":"ESP32",
        "serialport":"COM3","serialbaud":"115200","databits":"8",
        "parity":"none","stopbits":"1","newline":"\\n",
        "bin":"false","out":"char","addchar":"","responsetimeout":"10000"
    },
    {
        "id":"ui_group_plantos","type":"ui_group","name":"PlantOS",
        "tab":"ui_tab_plantos","order":1,"disp":false,"width":"24","collapse":false
    },
    {
        "id":"ui_tab_plantos","type":"ui_tab","name":"PlantOS",
        "icon":"local_florist","order":1,"disabled":false,"hidden":false
    }
]
