plantOS.json
[
    {
        "id": "tab_plantos",
        "type": "tab",
        "label": "PlantOS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "serial_in_node",
        "type": "serial in",
        "z": "tab_plantos",
        "name": "ESP32 Serial",
        "serial": "serial_config",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "parse_node",
                "debug_node"
            ]
        ]
    },
    {
        "id": "debug_node",
        "type": "debug",
        "z": "tab_plantos",
        "name": "Raw Serial",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "parse_node",
        "type": "function",
        "z": "tab_plantos",
        "name": "Parse ESP32",
        "func": "var line = msg.payload.trim();\nif (!line || line.length < 5) return null;\n\nvar wl   = line.match(/Water Level:\\s*(\\d+)/);\nvar s1   = line.match(/Soil Moisture:\\s*(\\d+)/);\nvar soil1Block = line.match(/Soil Moisture:[^|]+/);\nvar soilDry = soil1Block ? soil1Block[0].includes('[DRY!]') : false;\nvar reservoirLow = line.includes('Reservoir: LOW');\nvar watering = line.includes('WATERING PLANT') || line.includes('Pump ON');\nvar wateringDone = line.includes('WATERING COMPLETE') || line.includes('Pump OFF');\n\nmsg.payload = {\n  raw: line,\n  waterLevel:    wl  ? parseInt(wl[1])  : null,\n  soil1:         s1  ? parseInt(s1[1])  : null,\n  soil1Dry:      soilDry,\n  reservoirLow:  reservoirLow,\n  watering:      watering,\n  wateringDone:  wateringDone,\n  timestamp:     new Date().toLocaleTimeString()\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "dashboard_template"
            ]
        ]
    },
    {
        "id": "dashboard_template",
        "type": "ui_template",
        "z": "tab_plantos",
        "group": "ui_group_plantos",
        "name": "PlantOS Dashboard",
        "order": 1,
        "width": "24",
        "height": "22",
        "format": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\"/>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n<title>PlantOS — Smart Watering</title>\n<link href=\"https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Mono:wght@300;400;500&display=swap\" rel=\"stylesheet\"/>\n<style>\n  :root {\n    --bg:        #0a0f0d;\n    --surface:   #111a15;\n    --card:      #162019;\n    --border:    #1f3327;\n    --green:     #3ddc84;\n    --green-dim: #1a5c38;\n    --amber:     #f0b429;\n    --red:       #ff4d4d;\n    --text:      #d4ead9;\n    --muted:     #5a7a63;\n    --font-display: 'DM Serif Display', Georgia, serif;\n    --font-mono:    'DM Mono', 'Courier New', monospace;\n  }\n\n  *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\n  body {\n    background: var(--bg);\n    color: var(--text);\n    font-family: var(--font-mono);\n    min-height: 100vh;\n    overflow-x: hidden;\n  }\n\n  /* ── Animated background grid ── */\n  body::before {\n    content: '';\n    position: fixed; inset: 0; z-index: 0;\n    background-image:\n      linear-gradient(rgba(61,220,132,.04) 1px, transparent 1px),\n      linear-gradient(90deg, rgba(61,220,132,.04) 1px, transparent 1px);\n    background-size: 40px 40px;\n    pointer-events: none;\n  }\n\n  /* ── Radial glow ── */\n  body::after {\n    content: '';\n    position: fixed;\n    top: -20%; left: 50%;\n    transform: translateX(-50%);\n    width: 800px; height: 600px;\n    background: radial-gradient(ellipse, rgba(61,220,132,.07) 0%, transparent 70%);\n    pointer-events: none; z-index: 0;\n  }\n\n  .wrapper {\n    position: relative; z-index: 1;\n    max-width: 1100px;\n    margin: 0 auto;\n    padding: 32px 24px 64px;\n  }\n\n  /* ── Header ── */\n  header {\n    display: flex;\n    align-items: center;\n    gap: 20px;\n    margin-bottom: 48px;\n    animation: fadeUp .6s ease both;\n  }\n\n  .logo-plant {\n    width: 56px; height: 56px;\n    flex-shrink: 0;\n  }\n\n  .header-text h1 {\n    font-family: var(--font-display);\n    font-size: 2rem;\n    letter-spacing: -.02em;\n    color: #fff;\n    line-height: 1;\n  }\n\n  .header-text p {\n    font-size: .72rem;\n    color: var(--muted);\n    letter-spacing: .14em;\n    text-transform: uppercase;\n    margin-top: 4px;\n  }\n\n  .status-pill {\n    margin-left: auto;\n    display: flex;\n    align-items: center;\n    gap: 8px;\n    background: var(--surface);\n    border: 1px solid var(--border);\n    border-radius: 99px;\n    padding: 8px 16px;\n    font-size: .72rem;\n    letter-spacing: .1em;\n    text-transform: uppercase;\n  }\n\n  .pulse-dot {\n    width: 8px; height: 8px;\n    border-radius: 50%;\n    background: var(--green);\n    box-shadow: 0 0 0 0 rgba(61,220,132,.6);\n    animation: pulse 2s infinite;\n  }\n\n  .pulse-dot.warn { background: var(--amber); box-shadow: 0 0 0 0 rgba(240,180,41,.6); }\n  .pulse-dot.alert { background: var(--red); box-shadow: 0 0 0 0 rgba(255,77,77,.6); animation: pulse-red 1s infinite; }\n\n  @keyframes pulse {\n    0%   { box-shadow: 0 0 0 0 rgba(61,220,132,.6); }\n    70%  { box-shadow: 0 0 0 8px rgba(61,220,132,0); }\n    100% { box-shadow: 0 0 0 0 rgba(61,220,132,0); }\n  }\n  @keyframes pulse-red {\n    0%   { box-shadow: 0 0 0 0 rgba(255,77,77,.8); }\n    70%  { box-shadow: 0 0 0 8px rgba(255,77,77,0); }\n    100% { box-shadow: 0 0 0 0 rgba(255,77,77,0); }\n  }\n\n  /* ── Main grid ── */\n  .grid {\n    display: grid;\n    grid-template-columns: 1fr 1fr 1fr;\n    grid-template-rows: auto auto auto;\n    gap: 16px;\n  }\n\n  /* ── Cards ── */\n  .card {\n    background: var(--card);\n    border: 1px solid var(--border);\n    border-radius: 16px;\n    padding: 24px;\n    position: relative;\n    overflow: hidden;\n    animation: fadeUp .5s ease both;\n    transition: border-color .3s;\n  }\n  .card:hover { border-color: var(--green-dim); }\n\n  .card::before {\n    content: '';\n    position: absolute;\n    inset: 0;\n    background: linear-gradient(135deg, rgba(61,220,132,.03) 0%, transparent 60%);\n    pointer-events: none;\n  }\n\n  .card.wide   { grid-column: span 2; }\n  .card.full   { grid-column: span 3; }\n  .card.hero   { grid-column: span 1; grid-row: span 2; }\n\n  .card-label {\n    font-size: .65rem;\n    letter-spacing: .16em;\n    text-transform: uppercase;\n    color: var(--muted);\n    margin-bottom: 12px;\n  }\n\n  .card-value {\n    font-family: var(--font-display);\n    font-size: 3rem;\n    line-height: 1;\n    color: #fff;\n  }\n\n  .card-unit {\n    font-size: .75rem;\n    color: var(--muted);\n    margin-top: 4px;\n    font-family: var(--font-mono);\n  }\n\n  /* ── Plant hero card ── */\n  .plant-card {\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    justify-content: center;\n    text-align: center;\n    background: linear-gradient(160deg, #0d1f13 0%, #0a0f0d 100%);\n  }\n\n  .plant-svg-wrap {\n    width: 140px; height: 160px;\n    margin-bottom: 20px;\n    position: relative;\n  }\n\n  /* SVG plant animation */\n  .leaf { transform-origin: bottom center; }\n  .leaf-l { animation: sway-l 4s ease-in-out infinite; }\n  .leaf-r { animation: sway-r 4s ease-in-out infinite 0.5s; }\n  .leaf-tl { animation: sway-l 5s ease-in-out infinite 1s; }\n  .leaf-tr { animation: sway-r 5s ease-in-out infinite 1.5s; }\n  .stem { stroke-dasharray: 120; stroke-dashoffset: 120; animation: draw-stem 1.5s ease forwards; }\n  .drop { animation: drip 3s ease-in-out infinite 2s; opacity: 0; }\n\n  @keyframes sway-l {\n    0%,100% { transform: rotate(0deg); }\n    50%      { transform: rotate(-6deg); }\n  }\n  @keyframes sway-r {\n    0%,100% { transform: rotate(0deg); }\n    50%      { transform: rotate(6deg); }\n  }\n  @keyframes draw-stem {\n    to { stroke-dashoffset: 0; }\n  }\n  @keyframes drip {\n    0%   { transform: translateY(0); opacity: .8; }\n    80%  { transform: translateY(18px); opacity: .3; }\n    100% { transform: translateY(22px); opacity: 0; }\n  }\n\n  .plant-name {\n    font-family: var(--font-display);\n    font-style: italic;\n    font-size: 1.3rem;\n    color: #fff;\n    margin-bottom: 4px;\n  }\n\n  .plant-mood {\n    font-size: .68rem;\n    letter-spacing: .12em;\n    text-transform: uppercase;\n    padding: 4px 12px;\n    border-radius: 99px;\n    background: rgba(61,220,132,.12);\n    color: var(--green);\n    border: 1px solid rgba(61,220,132,.25);\n    margin-top: 8px;\n    transition: all .4s;\n  }\n  .plant-mood.dry { background: rgba(240,180,41,.12); color: var(--amber); border-color: rgba(240,180,41,.25); }\n  .plant-mood.critical { background: rgba(255,77,77,.12); color: var(--red); border-color: rgba(255,77,77,.25); }\n\n  /* ── Arc gauge ── */\n  .gauge-wrap {\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n  }\n\n  .gauge-svg { overflow: visible; }\n\n  .gauge-track { fill: none; stroke: var(--border); stroke-width: 10; stroke-linecap: round; }\n  .gauge-fill  { fill: none; stroke-width: 10; stroke-linecap: round;\n                 transition: stroke-dashoffset .8s cubic-bezier(.4,0,.2,1), stroke .4s; }\n\n  .gauge-val {\n    font-family: var(--font-display);\n    font-size: 1.6rem;\n    fill: #fff;\n    text-anchor: middle;\n    dominant-baseline: middle;\n  }\n  .gauge-pct {\n    font-size: .55rem;\n    fill: var(--muted);\n    text-anchor: middle;\n    font-family: var(--font-mono);\n    letter-spacing: .1em;\n  }\n\n  /* ── Status badge ── */\n  .badge {\n    display: inline-flex;\n    align-items: center;\n    gap: 6px;\n    padding: 5px 12px;\n    border-radius: 6px;\n    font-size: .68rem;\n    letter-spacing: .1em;\n    text-transform: uppercase;\n    font-weight: 500;\n    margin-top: 10px;\n  }\n  .badge.ok   { background: rgba(61,220,132,.1);  color: var(--green); border: 1px solid rgba(61,220,132,.2); }\n  .badge.warn { background: rgba(240,180,41,.1);  color: var(--amber); border: 1px solid rgba(240,180,41,.2); }\n  .badge.bad  { background: rgba(255,77,77,.1);   color: var(--red);   border: 1px solid rgba(255,77,77,.2); }\n\n  /* ── Chart area ── */\n  .chart-wrap {\n    width: 100%;\n    height: 120px;\n    position: relative;\n    margin-top: 8px;\n  }\n\n  canvas.sparkline {\n    width: 100%; height: 100%;\n    display: block;\n  }\n\n  /* ── Stats row ── */\n  .stats-row {\n    display: flex;\n    gap: 16px;\n    margin-top: 12px;\n  }\n  .stat {\n    flex: 1;\n    background: rgba(255,255,255,.02);\n    border: 1px solid var(--border);\n    border-radius: 10px;\n    padding: 12px 14px;\n  }\n  .stat-label { font-size: .6rem; letter-spacing: .14em; text-transform: uppercase; color: var(--muted); }\n  .stat-val   { font-family: var(--font-display); font-size: 1.4rem; color: #fff; margin-top: 2px; }\n\n  /* ── Divider line ── */\n  .divider {\n    height: 1px;\n    background: linear-gradient(90deg, transparent, var(--border), transparent);\n    margin: 4px 0 16px;\n  }\n\n  /* ── Watering active banner ── */\n  .watering-banner {\n    display: none;\n    background: linear-gradient(90deg, rgba(61,220,132,.08), rgba(61,220,132,.02));\n    border: 1px solid rgba(61,220,132,.3);\n    border-radius: 12px;\n    padding: 14px 20px;\n    margin-bottom: 16px;\n    align-items: center;\n    gap: 12px;\n    font-size: .75rem;\n    letter-spacing: .08em;\n    color: var(--green);\n    animation: fadeUp .3s ease;\n  }\n  .watering-banner.show { display: flex; }\n\n  /* ── Timeline / log ── */\n  .log-list {\n    list-style: none;\n    display: flex;\n    flex-direction: column;\n    gap: 8px;\n    max-height: 160px;\n    overflow-y: auto;\n  }\n  .log-list::-webkit-scrollbar { width: 3px; }\n  .log-list::-webkit-scrollbar-track { background: transparent; }\n  .log-list::-webkit-scrollbar-thumb { background: var(--border); border-radius: 99px; }\n\n  .log-item {\n    display: flex;\n    align-items: center;\n    gap: 10px;\n    font-size: .68rem;\n    color: var(--muted);\n    padding: 8px 10px;\n    background: rgba(255,255,255,.015);\n    border-radius: 8px;\n    border-left: 2px solid var(--border);\n    animation: fadeUp .3s ease;\n  }\n  .log-item.water { border-color: var(--green); color: var(--text); }\n  .log-item.alert { border-color: var(--amber); }\n\n  .log-time { font-size: .6rem; color: var(--muted); min-width: 56px; }\n\n  /* ── Footer ── */\n  footer {\n    margin-top: 40px;\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    font-size: .62rem;\n    color: var(--muted);\n    letter-spacing: .1em;\n    text-transform: uppercase;\n    border-top: 1px solid var(--border);\n    padding-top: 16px;\n    animation: fadeUp .8s ease both;\n  }\n\n  /* ── Animations ── */\n  @keyframes fadeUp {\n    from { opacity: 0; transform: translateY(16px); }\n    to   { opacity: 1; transform: translateY(0); }\n  }\n\n  .card:nth-child(1) { animation-delay: .05s; }\n  .card:nth-child(2) { animation-delay: .1s; }\n  .card:nth-child(3) { animation-delay: .15s; }\n  .card:nth-child(4) { animation-delay: .2s; }\n  .card:nth-child(5) { animation-delay: .25s; }\n  .card:nth-child(6) { animation-delay: .3s; }\n\n  /* ── Responsive ── */\n  @media (max-width: 700px) {\n    .grid { grid-template-columns: 1fr 1fr; }\n    .card.hero { grid-column: span 2; }\n    .card.wide { grid-column: span 2; }\n    .card.full { grid-column: span 2; }\n  }\n</style>\n</head>\n<body>\n<div class=\"wrapper\">\n\n  <!-- Header -->\n  <header>\n    <svg class=\"logo-plant\" viewBox=\"0 0 56 56\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n      <circle cx=\"28\" cy=\"28\" r=\"28\" fill=\"#0d1f13\"/>\n      <path class=\"leaf leaf-l\" d=\"M28 36 Q16 28 18 16 Q26 18 28 36Z\" fill=\"#2ecc71\" opacity=\".9\"/>\n      <path class=\"leaf leaf-r\" d=\"M28 36 Q40 28 38 16 Q30 18 28 36Z\" fill=\"#3ddc84\" opacity=\".85\"/>\n      <line x1=\"28\" y1=\"42\" x2=\"28\" y2=\"20\" stroke=\"#2ecc71\" stroke-width=\"1.5\" stroke-linecap=\"round\"/>\n      <rect x=\"20\" y=\"42\" width=\"16\" height=\"5\" rx=\"2.5\" fill=\"#1a5c38\"/>\n    </svg>\n    <div class=\"header-text\">\n      <h1>PlantOS</h1>\n      <p>Smart Irrigation Monitor</p>\n    </div>\n    <div class=\"status-pill\" id=\"system-status-pill\">\n      <div class=\"pulse-dot\" id=\"status-dot\"></div>\n      <span id=\"status-text\">System Online</span>\n    </div>\n  </header>\n\n  <!-- Watering Active Banner -->\n  <div class=\"watering-banner\" id=\"watering-banner\">\n    <svg width=\"18\" height=\"18\" viewBox=\"0 0 24 24\" fill=\"none\"><path d=\"M12 2C6 10 4 14 4 17a8 8 0 0016 0c0-3-2-7-8-15z\" fill=\"#3ddc84\" opacity=\".8\"/></svg>\n    <span>Watering cycle active — pump running</span>\n    <span style=\"margin-left:auto;font-size:.65rem;opacity:.6\" id=\"watering-timer\">0s</span>\n  </div>\n\n  <!-- Main Grid -->\n  <div class=\"grid\">\n\n    <!-- PLANT HERO -->\n    <div class=\"card hero plant-card\">\n      <div class=\"plant-svg-wrap\">\n        <svg viewBox=\"0 0 140 160\" width=\"140\" height=\"160\" xmlns=\"http://www.w3.org/2000/svg\">\n          <!-- Pot -->\n          <path d=\"M42 130 L50 155 H90 L98 130Z\" fill=\"#1a3d28\" stroke=\"#1f3327\" stroke-width=\"1\"/>\n          <rect x=\"38\" y=\"125\" width=\"64\" height=\"8\" rx=\"4\" fill=\"#1f4d30\"/>\n\n          <!-- Soil -->\n          <ellipse cx=\"70\" cy=\"128\" rx=\"28\" ry=\"5\" fill=\"#0f2518\"/>\n\n          <!-- Main stem -->\n          <path class=\"stem\" d=\"M70 127 Q68 100 70 75\" fill=\"none\" stroke=\"#2ecc71\" stroke-width=\"2.5\" stroke-linecap=\"round\"/>\n\n          <!-- Lower leaves -->\n          <path class=\"leaf leaf-l\" d=\"M68 110 Q44 100 46 82 Q60 86 68 110Z\" fill=\"#27ae60\"/>\n          <path class=\"leaf leaf-r\" d=\"M72 108 Q96 98 94 80 Q80 84 72 108Z\" fill=\"#2ecc71\"/>\n\n          <!-- Middle leaves -->\n          <path class=\"leaf leaf-tl\" d=\"M67 92 Q48 80 52 64 Q64 68 67 92Z\" fill=\"#3ddc84\" opacity=\".9\"/>\n          <path class=\"leaf leaf-tr\" d=\"M73 90 Q92 78 88 62 Q76 66 73 90Z\" fill=\"#2ecc71\" opacity=\".9\"/>\n\n          <!-- Top sprout -->\n          <path class=\"leaf leaf-l\" d=\"M69 78 Q58 66 62 54 Q70 57 69 78Z\" fill=\"#52e891\" opacity=\".85\"/>\n          <path class=\"leaf leaf-r\" d=\"M71 76 Q82 64 78 52 Q70 55 71 76Z\" fill=\"#3ddc84\" opacity=\".85\"/>\n\n          <!-- Water drops -->\n          <ellipse class=\"drop\" cx=\"60\" cy=\"115\" rx=\"3\" ry=\"4\" fill=\"#3ddc84\" opacity=\".7\"/>\n          <ellipse class=\"drop\" cx=\"80\" cy=\"112\" rx=\"2\" ry=\"3\" fill=\"#3ddc84\" opacity=\".5\" style=\"animation-delay:1.2s\"/>\n        </svg>\n      </div>\n      <div class=\"plant-name\">My Plant</div>\n      <div class=\"card-unit\" style=\"margin-top:4px\" id=\"last-update-hero\">Last update: —</div>\n      <div class=\"badge ok plant-mood\" id=\"plant-mood-badge\">Thriving</div>\n    </div>\n\n    <!-- SOIL MOISTURE GAUGE -->\n    <div class=\"card\" style=\"grid-column: span 1;\">\n      <div class=\"card-label\">Soil Moisture</div>\n      <div class=\"gauge-wrap\">\n        <svg class=\"gauge-svg\" width=\"130\" height=\"90\" viewBox=\"0 0 130 90\">\n          <path class=\"gauge-track\" d=\"M15,80 A55,55 0 0,1 115,80\"/>\n          <path class=\"gauge-fill\" id=\"soil-arc\" d=\"M15,80 A55,55 0 0,1 115,80\" stroke=\"#3ddc84\" stroke-dasharray=\"172.7\" stroke-dashoffset=\"172.7\"/>\n          <text class=\"gauge-val\" id=\"soil-val\" x=\"65\" y=\"68\">—</text>\n          <text class=\"gauge-pct\" x=\"65\" y=\"83\">/ 4095</text>\n        </svg>\n        <div class=\"badge ok\" id=\"soil-badge\">OK</div>\n      </div>\n    </div>\n\n    <!-- RESERVOIR GAUGE -->\n    <div class=\"card\" style=\"grid-column: span 1;\">\n      <div class=\"card-label\">Water Reservoir</div>\n      <div class=\"gauge-wrap\">\n        <svg class=\"gauge-svg\" width=\"130\" height=\"90\" viewBox=\"0 0 130 90\">\n          <path class=\"gauge-track\" d=\"M15,80 A55,55 0 0,1 115,80\"/>\n          <path class=\"gauge-fill\" id=\"water-arc\" d=\"M15,80 A55,55 0 0,1 115,80\" stroke=\"#3498db\" stroke-dasharray=\"172.7\" stroke-dashoffset=\"86\"/>\n          <text class=\"gauge-val\" id=\"water-val\" x=\"65\" y=\"68\">—</text>\n          <text class=\"gauge-pct\" x=\"65\" y=\"83\">/ 4095</text>\n        </svg>\n        <div class=\"badge ok\" id=\"water-badge\">OK</div>\n      </div>\n    </div>\n\n    <!-- STATS ROW -->\n    <div class=\"card wide\">\n      <div class=\"card-label\">Live Readings</div>\n      <div class=\"divider\"></div>\n      <div class=\"stats-row\">\n        <div class=\"stat\">\n          <div class=\"stat-label\">Soil Raw</div>\n          <div class=\"stat-val\" id=\"stat-soil\">—</div>\n        </div>\n        <div class=\"stat\">\n          <div class=\"stat-label\">Water Level</div>\n          <div class=\"stat-val\" id=\"stat-water\">—</div>\n        </div>\n        <div class=\"stat\">\n          <div class=\"stat-label\">Reservoir</div>\n          <div class=\"stat-val\" id=\"stat-reservoir\" style=\"color:var(--green)\">—</div>\n        </div>\n        <div class=\"stat\">\n          <div class=\"stat-label\">Pump State</div>\n          <div class=\"stat-val\" id=\"stat-pump\" style=\"color:var(--muted)\">Idle</div>\n        </div>\n      </div>\n    </div>\n\n    <!-- SOIL HISTORY CHART -->\n    <div class=\"card full\">\n      <div class=\"card-label\">Soil Moisture — Live History</div>\n      <div class=\"divider\"></div>\n      <div class=\"chart-wrap\">\n        <canvas id=\"chart-soil\"></canvas>\n      </div>\n    </div>\n\n    <!-- EVENT LOG -->\n    <div class=\"card full\">\n      <div class=\"card-label\">Event Log</div>\n      <div class=\"divider\"></div>\n      <ul class=\"log-list\" id=\"event-log\"></ul>\n    </div>\n\n  </div>\n\n  <footer>\n    <span>PlantOS v1.0 — ESP32 via Serial</span>\n    <span id=\"footer-time\">—</span>\n  </footer>\n</div>\n\n<script>\n// ── State ──────────────────────────────────────────────────\nconst state = {\n  soil: 0, water: 0,\n  soilDry: false, reservoirLow: false,\n  watering: false, wateringStart: 0,\n  soilHistory: [],\n  lastUpdate: '—'\n};\n\nconst MAX_HISTORY = 60;\n\n// ── Arc gauge helper ───────────────────────────────────────\nfunction setArc(pathId, value, max, colorOk, colorWarn, colorBad, warnAt, badAt, invert=false) {\n  const path = document.getElementById(pathId);\n  if (!path) return;\n  const total = 172.7;\n  let pct = Math.min(Math.max(value / max, 0), 1);\n  const offset = total - pct * total;\n  path.style.strokeDashoffset = offset;\n\n  let color = colorOk;\n  const effectivePct = invert ? (1 - pct) : pct;\n  if (effectivePct > badAt) color = colorBad;\n  else if (effectivePct > warnAt) color = colorWarn;\n  path.style.stroke = color;\n}\n\n// ── Badge helper ───────────────────────────────────────────\nfunction setBadge(id, level, texts) {\n  const el = document.getElementById(id);\n  if (!el) return;\n  el.className = 'badge ' + ['ok','warn','bad'][level];\n  el.textContent = texts[level];\n}\n\n// ── Sparkline chart ────────────────────────────────────────\nconst canvas = document.getElementById('chart-soil');\nconst ctx = canvas.getContext('2d');\n\nfunction drawChart() {\n  const dpr = window.devicePixelRatio || 1;\n  const W = canvas.offsetWidth, H = canvas.offsetHeight;\n  canvas.width = W * dpr; canvas.height = H * dpr;\n  ctx.scale(dpr, dpr);\n\n  const d = state.soilHistory;\n  ctx.clearRect(0,0,W,H);\n\n  if (d.length < 2) {\n    ctx.fillStyle = 'rgba(90,122,99,.4)';\n    ctx.font = '11px DM Mono, monospace';\n    ctx.textAlign = 'center';\n    ctx.fillText('Waiting for data…', W/2, H/2);\n    return;\n  }\n\n  const max = 4095, min = 0;\n  const px = (i) => (i / (MAX_HISTORY - 1)) * W;\n  const py = (v) => H - 8 - ((v - min) / (max - min)) * (H - 20);\n\n  // Threshold line\n  ctx.strokeStyle = 'rgba(240,180,41,.2)';\n  ctx.lineWidth = 1;\n  ctx.setLineDash([4,6]);\n  const threshY = py(2500);\n  ctx.beginPath(); ctx.moveTo(0, threshY); ctx.lineTo(W, threshY); ctx.stroke();\n  ctx.setLineDash([]);\n  ctx.fillStyle = 'rgba(240,180,41,.4)';\n  ctx.font = '9px DM Mono,monospace';\n  ctx.textAlign = 'right';\n  ctx.fillText('DRY threshold', W - 4, threshY - 4);\n\n  // Gradient fill\n  const grad = ctx.createLinearGradient(0,0,0,H);\n  grad.addColorStop(0, 'rgba(61,220,132,.25)');\n  grad.addColorStop(1, 'rgba(61,220,132,0)');\n  ctx.fillStyle = grad;\n  ctx.beginPath();\n  ctx.moveTo(px(0), H);\n  d.forEach((v,i) => ctx.lineTo(px(i), py(v)));\n  ctx.lineTo(px(d.length-1), H);\n  ctx.closePath();\n  ctx.fill();\n\n  // Line\n  ctx.strokeStyle = '#3ddc84';\n  ctx.lineWidth = 2;\n  ctx.lineJoin = 'round';\n  ctx.lineCap = 'round';\n  ctx.beginPath();\n  d.forEach((v,i) => i === 0 ? ctx.moveTo(px(i),py(v)) : ctx.lineTo(px(i),py(v)));\n  ctx.stroke();\n\n  // Latest dot\n  const last = d[d.length-1];\n  ctx.fillStyle = '#3ddc84';\n  ctx.beginPath();\n  ctx.arc(px(d.length-1), py(last), 4, 0, Math.PI*2);\n  ctx.fill();\n\n  // Y axis labels\n  [0, 1000, 2000, 3000, 4000].forEach(v => {\n    const y = py(v);\n    ctx.fillStyle = 'rgba(90,122,99,.5)';\n    ctx.font = '9px DM Mono,monospace';\n    ctx.textAlign = 'left';\n    ctx.fillText(v, 4, y + 3);\n  });\n}\n\n// ── Event log ─────────────────────────────────────────────\nfunction addLog(text, type='') {\n  const list = document.getElementById('event-log');\n  const time = new Date().toLocaleTimeString();\n  const li = document.createElement('li');\n  li.className = 'log-item ' + type;\n  li.innerHTML = `<span class=\"log-time\">${time}</span><span>${text}</span>`;\n  list.prepend(li);\n  while (list.children.length > 20) list.removeChild(list.lastChild);\n}\n\n// ── Render ─────────────────────────────────────────────────\nfunction render() {\n  const s = state;\n\n  // Gauges\n  setArc('soil-arc', s.soil, 4095, '#3ddc84', '#f0b429', '#ff4d4d', .5, .7, true);\n  setArc('water-arc', s.water, 4095, '#3498db', '#f0b429', '#ff4d4d', .3, .15, false);\n\n  document.getElementById('soil-val').textContent = s.soil;\n  document.getElementById('water-val').textContent = s.water;\n\n  // Stats\n  document.getElementById('stat-soil').textContent = s.soil;\n  document.getElementById('stat-water').textContent = s.water;\n\n  const resvEl = document.getElementById('stat-reservoir');\n  resvEl.textContent = s.reservoirLow ? 'LOW' : 'Full';\n  resvEl.style.color = s.reservoirLow ? 'var(--red)' : 'var(--green)';\n\n  const pumpEl = document.getElementById('stat-pump');\n  pumpEl.textContent = s.watering ? 'ACTIVE' : 'Idle';\n  pumpEl.style.color = s.watering ? 'var(--green)' : 'var(--muted)';\n\n  // Badges\n  setBadge('soil-badge',\n    s.soilDry ? 2 : s.soil > 2000 ? 1 : 0,\n    ['Moist ✓', 'Getting Dry', 'DRY!']\n  );\n  setBadge('water-badge',\n    s.reservoirLow ? 2 : s.water < 1000 ? 1 : 0,\n    ['Adequate ✓', 'Getting Low', 'REFILL!']\n  );\n\n  // Status pill\n  const dot = document.getElementById('status-dot');\n  const stxt = document.getElementById('status-text');\n  if (s.reservoirLow) {\n    dot.className = 'pulse-dot alert';\n    stxt.textContent = 'Refill Water!';\n  } else if (s.soilDry) {\n    dot.className = 'pulse-dot warn';\n    stxt.textContent = 'Soil Dry';\n  } else {\n    dot.className = 'pulse-dot';\n    stxt.textContent = 'System OK';\n  }\n\n  // Plant mood\n  const mood = document.getElementById('plant-mood-badge');\n  if (s.reservoirLow) {\n    mood.className = 'badge ok plant-mood critical';\n    mood.textContent = 'Needs Water!';\n  } else if (s.soilDry) {\n    mood.className = 'badge ok plant-mood dry';\n    mood.textContent = 'Thirsty';\n  } else {\n    mood.className = 'badge ok plant-mood';\n    mood.textContent = 'Thriving';\n  }\n\n  // Watering banner\n  const banner = document.getElementById('watering-banner');\n  banner.classList.toggle('show', s.watering);\n\n  // Last update\n  document.getElementById('last-update-hero').textContent = 'Last update: ' + s.lastUpdate;\n  document.getElementById('footer-time').textContent = s.lastUpdate;\n\n  // Chart\n  drawChart();\n}\n\n// ── Parse serial line ──────────────────────────────────────\nfunction parseLine(line) {\n  if (!line || line.length < 5) return;\n\n  const wl  = line.match(/Water Level:\\s*(\\d+)/);\n  const s1  = line.match(/Soil Moisture:\\s*(\\d+)/);\n  const res = line.includes('Reservoir: LOW');\n  const soil1Block = line.match(/Soil Moisture:[^|]+/);\n  const soilDry = soil1Block ? soil1Block[0].includes('[DRY!]') : false;\n  const isWatering = line.includes('WATERING PLANT') || line.includes('Pump ON');\n\n  const wasWatering = state.watering;\n  const wasResvLow  = state.reservoirLow;\n  const wasSoilDry  = state.soilDry;\n\n  if (wl)  state.water   = parseInt(wl[1]);\n  if (s1)  state.soil    = parseInt(s1[1]);\n  state.reservoirLow = res;\n  state.soilDry      = soilDry;\n  state.lastUpdate   = new Date().toLocaleTimeString();\n\n  if (isWatering && !wasWatering) {\n    state.watering = true;\n    state.wateringStart = Date.now();\n    addLog('Watering cycle started', 'water');\n  }\n  if (line.includes('WATERING COMPLETE') || line.includes('Pump OFF')) {\n    state.watering = false;\n    addLog('Watering cycle complete', 'water');\n  }\n\n  if (res && !wasResvLow) addLog('⚠ Reservoir level LOW — please refill', 'alert');\n  if (soilDry && !wasSoilDry) addLog('Soil moisture dropped below threshold', 'alert');\n  if (!soilDry && wasSoilDry) addLog('Soil moisture restored', '');\n\n  // History\n  if (s1) {\n    state.soilHistory.push(state.soil);\n    if (state.soilHistory.length > MAX_HISTORY) state.soilHistory.shift();\n  }\n\n  render();\n}\n\n// ── Watering timer ticker ──────────────────────────────────\nsetInterval(() => {\n  if (state.watering) {\n    const s = Math.floor((Date.now() - state.wateringStart) / 1000);\n    document.getElementById('watering-timer').textContent = s + 's';\n  }\n  document.getElementById('footer-time').textContent = new Date().toLocaleTimeString();\n}, 500);\n\n// ── Node-RED integration (ui_template) ────────────────────\n// This receives msgs from Node-RED via scope.$watch\n(function() {\n  try {\n    const scope = window.RED ? angular.element(document.querySelector('.wrapper')).scope() : null;\n    if (scope) {\n      scope.$watch('msg', function(msg) {\n        if (!msg || !msg.payload) return;\n        const p = msg.payload;\n        if (typeof p === 'string') { parseLine(p); return; }\n        if (typeof p === 'object') {\n          if (p.waterLevel !== undefined) state.water = p.waterLevel;\n          if (p.soil1      !== undefined) state.soil  = p.soil1;\n          if (p.soil1Dry   !== undefined) state.soilDry = p.soil1Dry;\n          if (p.reservoirLow !== undefined) state.reservoirLow = p.reservoirLow;\n          if (p.watering   !== undefined) state.watering = p.watering;\n          state.lastUpdate = new Date().toLocaleTimeString();\n          state.soilHistory.push(state.soil);\n          if (state.soilHistory.length > MAX_HISTORY) state.soilHistory.shift();\n          render();\n        }\n      });\n    }\n  } catch(e) {}\n})();\n\n// ── Demo simulation (shows when no data coming in) ────────\nlet demoTick = 0;\nlet demoRunning = true;\nfunction demoStep() {\n  if (!demoRunning) return;\n  demoTick++;\n  const t = demoTick * 0.05;\n  const moisture = Math.round(1800 + Math.sin(t) * 600 + Math.random() * 80);\n  const water    = Math.round(2200 + Math.cos(t * 0.4) * 500);\n  const line = `Water Level: ${water} / 4095\\t|\\tSoil Moisture: ${moisture} / 4095 ${moisture > 2500 ? '[DRY!]' : '[OK]'}\\t|\\tReservoir: ${water < 500 ? 'LOW' : 'OK'}`;\n  parseLine(line);\n}\n\n// Run demo until real data arrives\nconst demoInterval = setInterval(demoStep, 800);\n\n// Stop demo on first real Node-RED message\nwindow.addEventListener('nr-msg', () => {\n  demoRunning = false;\n  clearInterval(demoInterval);\n});\n\n// Initial render\naddLog('PlantOS dashboard initialized', '');\nrender();\n</script>\n</body>\n</html>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 540,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "serial_config",
        "type": "serial-port",
        "name": "ESP32",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "ui_group_plantos",
        "type": "ui_group",
        "name": "PlantOS",
        "tab": "ui_tab_plantos",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false
    },
    {
        "id": "ui_tab_plantos",
        "type": "ui_tab",
        "name": "PlantOS",
        "icon": "local_florist",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b3f0949b49e069b1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "node-red-dashboard": "3.6.6"
        }
    }
]